pkuhit.xap-api/src/main/resources/META-INF/schema/pkuhit-xap-0.1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://pkuhit.org/xap" elementFormDefault="qualified"
	attributeFormDefault="unqualified" xmlns="http://pkuhit.org/xap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">







    <xsd:element name="std-bundle" type="StdBundleType"></xsd:element>




    
    <xsd:complexType name="StdBundleType">
    	<xsd:attribute name="datasource-ref" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>